pytest==5.4.3
loqusdb
cyvcf2==0.30.12
mongomock
click==7.1.2
pymongo
numpy==1.21.4
coloredlogs==14.0
pyyaml>=5.4.1
vcftoolbox==1.5
setuptools==59.2.0
fastapi==0.61.2
pydantic==1.7.2
starlette==0.13.6
uvicorn[standard]
bump2version
uvloop
httptools
gunicorn
aiofiles
python-multipart
python-dotenv
python-bsonjs