pytest
loqusdb>=2.7.7
cyvcf2
mongomock
click
pymongo
numpy
coloredlogs
pyyaml>=5.4.1
vcftoolbox
setuptools>=70.0.0
fastapi
pydantic
starlette
uvicorn[standard]
bump2version
uvloop
httptools
gunicorn
aiofiles
python-multipart
python-dotenv
python-bsonjs
